name: Build & Release
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        config: [donkey, three-little-pigs]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Copy ${{ matrix.config }}-window-definitions.json to window-definitions.json
        run: |
          cp ${{ matrix.config }}-window-definitions.json window-definitions.json

      - name: Build and Publish ${{ matrix.config }}
        run: |
          npx electron-builder install-app-deps
          npx electron-builder --publish always --config electron-builder-${{ matrix.config }}.yml
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}