name: Build & Release
on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        config: [electron-builder-donkey.yml, electron-builder-three-little-pigs.yml]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build and Publish three-little-pigs
        run: |
          npx electron-builder install-app-deps
          npx electron-builder --publish always --config ${{ matrix.config }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}